body {
	background-color:gray;
	color:white;
	margin-top:80px;
	margin-right:80px;
	margin-bottom:80px;
	margin-left:80px;
	border:7px solid black;
}

p{ 
	background-color:yellow;
	color:black;
	padding:5px;
	margin-left:450px;
	box-shadow:2px 2px 2px black;
	width:20%;
}
 
 img{
	 box-shadow:3px 3px 4px black;
	 margin-left:470px;
	 width:200px;
 }

h2{
	color:white;
	text-align:center;
}

h1{
	text-align:center;
}

aside{
	background-color:#4F4F4F;
	color:black;
	border:2px solid black;
}