Body	{
	background-color: White;
	color: Blue;
	margin-top: 80px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 80px;
	border: 8px solid black;
	align-items: center;
}	
p	{
	background-color:
}