body {
    margin: 0;
    padding: 0;
    font-family: yellowtail, sherikhand;
}

header {
    background-color: #329542;
    color: yellow;
    text-align: center;
    padding: 20px;
}

h1 {
    ~margin: 0;
}

section {
    margin: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
body {color: red;
	background-color: #000000
}
p {
background-color:#1C1C1C;
width:140px;
}